<!DOCTYPE html>
<html>
<head>
  <title>YelpStagram</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <%= current_user.first_name %>
  <%= button_to "sign out", session_url, :method => :delete, class: "sign" %>
<% else %>
  <%= button_to "sign in", new_session_url, class: "sign" %>
  <%= button_to "sign up", new_user_url, class: "sign" %>
<% end %>

<br>

<%= render "layouts/errors" %>

<%= yield %>

</body>
</html>
